<!DOCTYPE html>
<head>
    <title>Apollo Assignments</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- MathJAX library -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script type="text/javascript" id="MathJax-script" async
	  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
	</script>
</head>
<body>
    <nav class="blue accent-3">
        <div class="nav-wrapper">
            <div><a href="{{ url_for('index') }}" class="brand-logo center">Apollo<i class="right large material-icons">note_add</i></a></div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            	<!-- use url_for here -->
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('notes') }}">Notes</a></li>                
                <li><a href="{{ url_for('assignments') }}">Assignments</a></li>
                <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
                <li><a href="{{ url_for('settings') }}"><i class="right small material-icons">settings</i></a></li>
            </ul>
        </div>
    </nav>



    <style type="text/css">
        .badge {
            font-size: 14px !important;
        }

        .collection-item {
            font-size: 14px !important;
        }

        .material-icons {
        	padding-bottom: 3px !important;
        }
    </style>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script type="text/javascript">
		chart();
	</script>

</body>