<!DOCTYPE html>
<head>
  <title>Apollo Home</title>
  <!-- Compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons" >

  <!-- MathJAX library -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script
    type="text/javascript"
    id="MathJax-script"
    async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>
</head>
<body>
  <!-- Navbar -->
  <nav class="blue accent-3">
    <div class="nav-wrapper">
      <div style="padding-left:1rem;">
        <a href="{{ url_for('settings') }}" class="breadcrumb left">
          {{ active_semester.get_title() }}
        </a>
      </div>
      <div>
        <a href="{{ url_for('index') }}" class="brand-logo center">Apollo
          <i class="right large material-icons">note_add</i>
        </a>
      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- Navbar links -->
        <li>
          <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li>
          <a href="{{ url_for('notes') }}">Notes</a>
        </li>
        <li>
          <a href="{{ url_for('assignments') }}">Assignments</a>
        </li>
        <li>
          <a href="{{ url_for('calendar') }}">Calendar</a>
        </li>
        <li>
          <a href="{{ url_for('settings') }}">
            <i class="right small material-icons">settings</i>
          </a>
        </li>
        <!-- TODO: add mobile nav sidebar -->
      </ul>
    </div>
  </nav>

  <!-- Basic metrics (read-only) -->
  <div class="container">
    <h2>Hi, <span class="blue-text accent-3">{{ user.first }}</span> :)</h2>
    <h5>
      <span class="red-text accent-3 right">0
        <span class="black-text">/10</span>
      </span> Assignments completed
    </h5>
    <h5>
      <span class="red-text accent-3 right">1
        <span class="black-text">/2</span>
      </span> Classes scheduled today
    </h5>
    <h5>
      <span class="blue-text accent-3 right">1
      </span> Notes taken
    </h5>
  </div>

  <br>

  <!-- Most recent notes (read-only) -->
  <div class="container">
    <h5 class="blue-text darken-4">Recent Notes</h5>
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card white darken-1 z-depth-2">
          <div class="card-content">
            <span class="card-title teal-text darken-4">Ch 26
              <span class="right black-text">11.2.2020</span>
            </span>
            <p class="grey-text darken-2">
             Now suppose we disconnect the battery from the plates.
             The plates are not connected with a wire to anything now,
             so the plates remain charged. The capacitor has ...
           </p>
          </div>
          <div class="card-action">
            <span class="flair orange-text darken-3">PHYS 181</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <!-- Due Assignments (read-only) -->
  <div class="container">
    <h5 class="blue-text darken-4">Due Assignments</h5>
    <div class="row">
      <div class="col s12 m12 l12">
        <ul class="collection with-header z-depth-2">
          <li class="collection-header orange-text darken-3">
            <h6>CS 202</h6>
          </li>
          <li class="collection-item">
            <span class="title teal-text darken-4">Project Assignment 9</span>
            <p>
              <span class="left">11.16.2020</span>
              <span class="right">
                <i class="small right material-icons red-text">warning</i>INCOMPLETE
              </span>
              <br>
              <a href="#">GitHub</a>
            </p>
          </li>
          <li class="collection-item">
            <span class="title teal-text darken-4">Project Assignment 10</span>
            <p>
              <span class="left">11.27.2020</span>
              <span class="right">
                <i class="small right material-icons red-text">warning</i>INCOMPLETE
              </span>
              <br>
              <a href="#">GitHub</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12">
        <ul class="collection with-header z-depth-2">
          <li class="collection-header orange-text darken-3"><h6>PHYS 181</h6></li>
          <li class="collection-item">
            <span class="title teal-text darken-4">Week 12: Chapter 27</span>
            <p>
              <span class="left">11.13.2020</span>
              <span class="right">
                <i class="small right material-icons red-text">warning</i>INCOMPLETE
              </span>
              <br>
              <a href="#">WebAssign</a>
            </p>
          </li>
          <li class="collection-item">
            <span class="title teal-text darken-4">27.1 Q1, Q2, Q3</span>
            <p>
              <span class="left">11.16.2020</span>
              <span class="right">
                <i class="small right material-icons red-text">warning</i>INCOMPLETE
              </span>
              <br>
              <a href="#">WebCampus</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <br>

  <!-- Chart.js visualization of today's schedule -->
  <div class="container">
    <h5 class="blue-text darken-4">Today's Schedule</h5>
    <div class="row">
      <canvas id="todaySchedule"></canvas>
    </div>
  </div>
  
  <div style="padding-bottom: 1rem"></div>

  <style type="text/css">
    .badge {
      font-size: 14px !important;
    }

    .collection-item {
      font-size: 14px !important;
    }

    .material-icons {
      padding-bottom: 3px !important;
    }
  </style>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
  <script type="text/javascript">
    chart();
  </script>
</body>